<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

</head>

<body style="background:whitesmoke;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="font-family: 'Cinzel', serif;"><h4>Karios</h4></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="POST" action="/changeCity">
      <input name="city" class="form-control mr-sm-2" type="search" placeholder="Search City" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>
<br>

<div style= "text-align:center ;font-family: 'Cinzel', serif;">
  <h3>{{ city }}</h3>
  <hr width="30%">
</div>

<br>

<input type="hidden" id="cityName" value="{{city}}">
<input type="hidden" id="timeArr" value="{{timeArr}}">
<input type="hidden" id="tempArr" value="{{tempArr}}">
<input type="hidden" id="max" value="{{max}}">
<input type="hidden" id="min" value="{{min}}">
<input type="hidden" id="dailyMax" value="{{dailyMax}}">
<input type="hidden" id="dailyMin" value="{{dailyMin}}">


<div style="max-width: 66%; max-height: 66%; margin: auto; float:right">
      
      <div>
      <canvas id="myChart" width="700" height="350"></canvas>
      </div>
      <div style="margin-left:40%">
      <button type="button" class="btn btn-outline-success" onclick="hourlyFn()">Hourly</button>
      <button type="button" class="btn btn-outline-success" onclick="DailyFn()">Daily</button>
      </div>
</div>
<div style="float:left; margin-left:3%;font-family: 'Cinzel', serif;">
        <br><br><br>
        <h4>
        Current Temperature: {{current}} 	&#186; F
        <hr width="30%">
        <br>Max Temperature: <span id="pmax">{{max}}</span> 	&#186; F
        <br>Min Temperature: <span id="pmin">{{min}}</span> 	&#186; F
        <br>Current Weather: {{desc}}
        </h4>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var city = document.getElementById('cityName').value;
var timeArr = document.getElementById('timeArr').value;
var tempArr = document.getElementById('tempArr').value;

var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [],
        datasets: [{
            label: "Temperature in Fahrenheit",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [],
        }]
    },

    // Configuration options go here
    options: {}
});

timeArr = timeArr.split(",")
tempArr = tempArr.split(",")



for(let i=0; i<10; i++)
  {
    addData(chart,timeArr[i],tempArr[i])
    //console.log("timeArr", timeArr[i]," tempArr ",tempArr[i])
  }


function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

</script>
<script>
  function hourlyFn()
  {
    console.log("Coming inside hourlyFn")
    var ctx = document.getElementById('myChart').getContext('2d');
    var city = document.getElementById('cityName').value;
    var timeArr = document.getElementById('timeArr').value;
    var tempArr = document.getElementById('tempArr').value;
    var Max = document.getElementById('max').value;
    var Min = document.getElementById('min').value;
    document.getElementById("pmax").innerHTML = Max;
    document.getElementById("pmin").innerHTML = Min;

    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [],
        datasets: [{
            label: "Temperature in Fahrenheit",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [],
        }]
    },

    // Configuration options go here
    options: {}
    });

    timeArr = timeArr.split(",")
    tempArr = tempArr.split(",")

    for(let i=0; i<10; i++)
      {
        addData(chart,timeArr[i],tempArr[i])
        //console.log("timeArr", timeArr[i]," tempArr ",tempArr[i])
      }
  }
</script>
<script>
  function DailyFn()
  {
    console.log("Coming inside DailyFn")
    var ctx = document.getElementById('myChart').getContext('2d');
    var city = document.getElementById('cityName').value;
    var timeArr = document.getElementById('timeArr').value;
    var tempArr = document.getElementById('tempArr').value;
    var Max = document.getElementById('dailyMax').value;
    var Min = document.getElementById('dailyMin').value;
    document.getElementById("pmax").innerHTML = Max;
    console.log("Inside daily the max val is: ", Max)
    document.getElementById("pmin").innerHTML = Min;
    console.log("Inside daily the min val is: ", Max)

    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [],
        datasets: [{
            label: "Temperature in Fahrenheit",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [],
        }]
    },

    // Configuration options go here
    options: {}
    });

    timeArr = timeArr.split(",")
    tempArr = tempArr.split(",")
    console.log("Length of TempArr: ",tempArr.length)

    for(let i=0; i<tempArr.length; i=i+4)
      {
        addData(chart,timeArr[i],tempArr[i])
        //console.log("timeArr", timeArr[i]," tempArr ",tempArr[i])
      }
  }
</script>

</body>
</html>
